.job-item
{
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding: 10px;
}
p{
    font-size: medium;
}
h4{
    font-size: large;
}
.pl{
    font-weight: 500;
    color: red;
    font-style: italic;
}